body {
    background: color #121212; ;
    color: #E4007C;
    font-family:bold;
}
header {
    border-bottom:2px solid #E4007C; 
    padding:10px;
}
nav a {
    color: #ffbf00;;
    text-decoration: none;
    font-weight:bold;
}
main {
    background-color:rgb(202, 202, 202);
    padding: 20px;
    border-radius: 10px;
}
footer {
    text-align: center; 
    font-size:12px;
    color:rgb(214, 212, 212);
}