body {
    text-align: center;
    background: color #121212; ;
    color: #E4007C;
    font-family:bold;
}
header {
    text-align: center;
    border-bottom:2px solid #E4007C; 
    padding:10px;
}
nav a {
    text-align: center;
    color: #ffbf00;;
    text-decoration: none;
    font-weight:bold;
}
main {
    text-align: center;
    background-color:rgb(248, 237, 244);
    padding: 20px;
    border-radius: 10px;
}
footer {
    text-align: center; 
    font-size:12px;
    color:rgb(248, 237, 244);
}